<div class="carousel {{@className}}" {{this.resizeModifier}}>
  <button class="prev-button" type="button" {{on "click" this.prev}}>‹</button>
  <div class="carousel-images">
    {{#each this.visibleImages as |image index|}}
      <img 
        src={{image.src}} 
        alt={{image.alt}} 
        class="carousel-image {{if (eq (add this.currentIndex index) this.centerVisibleIndex) 'focused'}}" 
      />
    {{/each}}
  </div>
  <button class="next-button" type="button" {{on "click" this.next}}>›</button>

  <div class="thumbnails">
    {{#each this.args.images as |image index|}}
      <img src={{image.src}} alt={{image.alt}} 
        class="thumbnail {{if (eq index this.currentIndex) 'active'}}"
        {{on "click" (fn this.selectImage index)}}/>
    {{/each}}
  </div>
</div>
