<header class="header" {{did-insert this.setupScrollListener}}>
  <LinkTo @route="meristem">
    <h3>Meristem Woodworks</h3>
  </LinkTo>

  <section class="p-menu1">
    <nav id="navbar" class="navigation">
      <div class="menu-wrapper">
        <button
            class="dropbtn ignore-outside"
            type="button"
            aria-label="Menu"
            aria-controls="main-navigation"
            aria-expanded={{this.expandHamburger}}
            {{on "click" this.toggleHamburger}}
            {{on "keydown" this.handleKeydown}}
          >
          <div class="hamburger {{if this.expandHamburger "open"}}">
            <div class="bars bar1"></div>
            <div class="bars bar2"></div>
            <div class="bars bar3"></div>
          </div>
        </button>

        <div class="dropdown">
          <div 
            id="main-navigation"
            class="dropdown-content {{if this.expandHamburger "expand-dropdown"}}"
            {{on "keydown" this.handleKeydown}}
            {{on-click-outside this.hideHamburger exceptSelector=".ignore-outside"}}
          >
            <LinkTo @route="meristem" class="link1" {{on "click" this.hideHamburger}}>home</LinkTo>
            <LinkTo @route="about" class="link1" {{on "click" this.hideHamburger}}>about</LinkTo>
            <LinkTo @route="work" class="link1" {{on "click" this.hideHamburger}}>process</LinkTo>
            <LinkTo @route="contact" class="link1" {{on "click" this.hideHamburger}}>contact</LinkTo>
          </div>
        </div>
      </div>
    </nav>
  </section>
</header>
